@model AdminLeaveRequestViewVm

@{
    ViewData["Title"] = "Index";
}

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>

<div class="row">

    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body text-center">
                <h1 class="card-title">@Model.TotalRequest</h1>
                <h5 class="card-text"> @Html.DisplayNameFor(model => model.TotalRequest)</h5>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body text-center">
                <h1 class="card-title text-warning">@Model.PendingRequest</h1>
                <h5 class="card-text"> @Html.DisplayNameFor(model => model.PendingRequest)</h5>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body text-center">
                <h1 class="card-title text-success">@Model.ApprovedRequest</h1>
                <h5 class="card-text"> @Html.DisplayNameFor(model => model.ApprovedRequest)</h5>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body text-center">
                <h1 class="card-title  text-danger">@Model.RejectedRequest</h1>
                <h5 class="card-text"> @Html.DisplayNameFor(model => model.RejectedRequest)</h5>
            </div>
        </div>
    </div>

</div>
<br />
<br />
<hr />
<h1>Leave Request Log</h1>
<table id="tblData" class="table">
    <thead>
        <tr>
            <th>
               Employee Name
            </th>
            <th>
               StartDate
            </th>
            <th>
                EndDate
            </th>
            <th>
                Leave Type
            </th>
            <th>
                Date Requested
            </th>          
            <th> 
               Approval Status
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LeaveRequests) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequestingEmployee.Lastname) @Html.DisplayFor(modelItem => item.RequestingEmployee.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRequested)
            </td>
            <td>
                @if (item.Approved == true && item.Cancelled == false)
                {
                    <span class="badge badge-success">Approved</span>
                }
                else if (item.Approved == false && item.Cancelled == false)
                {
                    <span class="badge badge-danger">Rejected</span>
                }
                else if (item.Approved == null && item.Cancelled == false)
                {
                    <span class="badge badge-warning">Pending Approval</span>
                }
                else if (item.Cancelled == true)
                {
                    <span class="badge badge-secondary">Cancelled</span>
                }
            </td>
            <td>
                <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.Id">
                    <i class="fa fa-file"></i>
                Review
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
